# California Collisions Cleaning

## Finding the percentage of collisions in each county caused by drunk-driving incidents

For our first query, from 2010 - 2020 we want to find the total amount of collisions caused by drunk drivers in every county, the total amount of collisions caused by sober drivers in every county and percentage of total collisions caused by drunk drivers in every county

In [ ]:
query = '''
        WITH sober_collisions AS (
        SELECT
          c.county_location,
          COUNT(p.party_sobriety) [Number of Sober Collisions] 
        FROM
          collisions c
        INNER JOIN
          parties p
        ON
          p.case_id = c.case_id
        WHERE
          c.collision_date BETWEEN '2010-01-01' AND '2019-12-31'
        AND
          p.party_sobriety != 'had been drinking, under influence'
        AND
          p.party_type = 'driver'
        AND
          p.at_fault = 1
        GROUP BY
          c.county_location
        )

        SELECT
          d.county_location,
          s.[Number of Sober Collisions],
          d.[Number of Drunk Driving collisions],
          CONCAT(STR(ROUND((d.[Number of Drunk Driving collisions]) * 100.0 /
          (s.[Number of Sober Collisions] + d.[Number of Drunk Driving collisions]), 1)), '%')
          [Percentage drunk driving]
        FROM (
          SELECT
            c.county_location, COUNT(p.party_sobriety) [Number of Drunk Driving collisions]
        FROM
          collisions c
        INNER JOIN
          parties p
        ON
          p.case_id = c.case_id
        WHERE
          c.collision_date BETWEEN '2010-01-01' AND '2019-12-31'
          AND p.party_sobriety = 'had been drinking, under influence'
          AND p.party_type = 'driver'
          AND p.at_fault = 1
        GROUP BY
          c.county_location) d
        INNER JOIN
          sober_collisions s on s.county_location = d.county_location
        '''

In [ ]:
new_data = pd.read_sql_query(query, con)

In [ ]:
new_data

,county_location,Number of Sober Collisions,Number of Drunk Driving collisions,Percentage drunk driving
0,alameda,174322,11564,6.2
1,alpine,595,55,8.5
2,amador,3744,457,10.9
3,butte,15331,2332,13.2
4,calaveras,4424,588,11.7
5,colusa,2650,272,9.3
6,contra costa,79769,7201,8.3
7,del norte,2411,262,9.8
8,el dorado,12505,2105,14.4
9,fresno,58058,6786,10.5
10,glenn,2221,292,11.6
11,humboldt,15020,2013,11.8
12,imperial,9496,859,8.3
13,inyo,2286,212,8.5
14,kern,75280,8679,10.3
15,kings,12233,1146,8.6
16,lake,4971,889,15.2
17,lassen,2359,211,8.2
18,los angeles,1124817,76703,6.4
19,madera,17002,1946,10.3
20,marin,23775,2034,7.9
21,mariposa,1748,182,9.4
22,mendocino,9777,1278,11.6
23,merced,28734,2774,8.8
24,modoc,727,92,11.2
25,mono,1719,157,8.4
26,monterey,44884,4237,8.6
27,napa,13014,1708,11.6
28,nevada,8785,1133,11.4
29,orange,266834,26229,8.9
30,placer,27079,2502,8.5
31,plumas,1891,298,13.6
32,riverside,189339,17463,8.4
33,sacramento,147768,12295,7.7
34,san benito,5195,610,10.5
35,san bernardino,215265,19238,8.2
36,san diego,199158,23071,10.4
37,san francisco,50560,3212,6.0
38,san joaquin,73285,6390,8.0
39,san luis obispo,28309,3293,10.4
40,san mateo,60303,5377,8.2
41,santa barbara,43365,4778,9.9
42,santa clara,128449,9835,7.1
43,santa cruz,27097,3350,11.0
44,shasta,14154,1790,11.2
45,sierra,521,66,11.2
46,siskiyou,3796,454,10.7
47,solano,37771,3516,8.5
48,sonoma,44204,5525,11.1
49,stanislaus,49698,5081,9.3
50,sutter,7854,839,9.7
51,tehama,5391,682,11.2
52,trinity,1573,259,14.1
53,tulare,42022,4132,9.0
54,tuolumne,6379,787,11.0
55,ventura,72119,6597,8.4
56,yolo,18307,1563,7.9
57,yuba,6157,646,9.5

## Collisions By Race

In this query, we want to find the collisions caused by drunk driving for every race.

In [ ]:
query = '''
   SELECT
    c.county_location,
    p.party_race as race_name,
    count(p.party_race) [Number of Drunk Collisions]
   FROM
    collisions c 
   INNER JOIN
    parties p
   ON
    c.case_id = p.case_id
   WHERE
    p.party_type = 'driver'
    AND p.party_sobriety = 'had been drinking, under influence'
    AND c.collision_date BETWEEN '2010-01-01' AND '2019-12-31'
    AND p.at_fault = 1
    AND p.party_race != 'None'
   GROUP BY
    c.county_location, p.party_race
    '''

In [ ]:
race_data = pd.read_sql_query(query, con)

In [ ]:
race_data

    county_location race_name  Number of Drunk Collisions
0           alameda     asian                         751
1           alameda     black                        2176
2           alameda  hispanic                        4125
3           alameda     other                         769
4           alameda     white                        3426
..              ...       ...                         ...
279            yuba     asian                          12
280            yuba     black                          21
281            yuba  hispanic                         137
282            yuba     other                          29
283            yuba     white                         434

[284 rows x 3 columns]

In [ ]:
pd.pivot_table(race_data, values='Number of Drunk Collisions', index=['county_location'],
                    columns=['race_name'], aggfunc=np.sum, fill_value = 0)

race_name        asian  black  hispanic  other  white
county_location
alameda            751   2176      4125    769   3426
alpine               0      3         4      4     44
amador               2      7        46      9    386
butte               33     64       356     61   1758
calaveras            3      8        62      7    507
colusa               2      7       128     11    120
contra costa       227   1082      2314    419   2991
del norte            5      2        24     33    194
el dorado           17     28       182     70   1743
fresno             281    280      4138    181   1820
glenn                4     10       106      8    160
humboldt            33     46       206    185   1497
imperial             2     18       627     17    179
inyo                 3      4        33     43    125
kern                60    506      4859    145   2999
kings                6     44       739     26    298
lake                 8     24       155     56    626
lassen               0      2        23     11    170
los angeles       3062   8042     44635   3039  15814
madera              13     43      1175     67    621
marin               29     90       648     67   1176
mariposa             1      2        17      7    155
mendocino            5     23       278     71    884
merced              77    117      1774     71    690
modoc                0      0        15      7     70
mono                 2      1        20      9    121
monterey            42    108      2795     56   1145
napa                34     47       716     39    850
nevada               7     18        80     24    986
orange            1525    672     10315    798   9882
placer              28     75       323     69   1912
plumas               2      5        18     12    258
riverside          242   1262      9674    380   5649
sacramento         762   1833      3161    588   5687
san benito           3     10       378      8    202
san bernardino     246   1799     10865    378   5596
san diego          627   1665      8836    726  10801
san francisco      391    373      1094    217   1100
san joaquin        255    575      2917    274   2203
san luis obispo     27     44       907     60   2192
san mateo          319    246      2052    381   2027
santa barbara       42     85      2663    115   1797
santa clara        793    426      4485    566   3181
santa cruz          44     54      1288     97   1826
shasta              26     37       118     48   1504
sierra               1      0         4      2     59
siskiyou             3     10        36     33    361
solano             103    654      1000    232   1457
sonoma              66    154      1817    136   3234
stanislaus          93    208      2509    136   1933
sutter              20     30       299     57    410
tehama               7     11       168     19    467
trinity              1      0        16      8    230
tulare              65     69      2832     53    915
tuolumne             3      6        64     17    685
ventura             67    158      3234    141   2920
yolo                45    100       619     82    668
yuba                12     21       137     29    434

## Collisions By age range

For our next query, we want to find the number of collisions in every county for different age groups.

In [ ]:
query = '''
        SELECT
          c.county_location,
          count(p.party_age) [Number of Collisions],
        CASE 
          WHEN p.party_age < 18 THEN 'Under 18'
          WHEN p.party_AGE BETWEEN 18 AND 24 THEN '18-24'
          WHEN p.party_AGE BETWEEN 25 AND 29 THEN '25-29'
          WHEN p.party_AGE BETWEEN 30 AND 34 THEN '30-34'
          WHEN p.party_AGE BETWEEN 35 AND 39 THEN '35-39'
          WHEN p.party_AGE BETWEEN 18 AND 24 THEN '40-44'
          WHEN p.party_AGE BETWEEN 18 AND 24 THEN '45-49'
          WHEN p.party_AGE BETWEEN 18 AND 24 THEN '50-54'
          WHEN p.party_AGE BETWEEN 18 AND 24 THEN '55-59'
          ELSE '60+'
        END AS
          Age_groups
        FROM
          parties p 
        INNER JOIN
          collisions c 
        ON
          c.case_id = p.case_id
        WHERE
          p.party_type = 'driver'
        AND p.party_sobriety = 'had been drinking, under influence'
        AND c.collision_date BETWEEN '2010-01-01' AND '2019-12-31'
        AND p.at_fault = 1
        GROUP BY
          c.county_location, age_groups'''

In [ ]:
age_data = pd.read_sql_query(query, con)

In [ ]:
age_data

    county_location  Number of Collisions Age_groups
0           alameda                  2851      18-24
1           alameda                  2337      25-29
2           alameda                  1581      30-34
3           alameda                  1068      35-39
4           alameda                  3588        60+
..              ...                   ...        ...
342            yuba                   123      25-29
343            yuba                    96      30-34
344            yuba                    60      35-39
345            yuba                   209        60+
346            yuba                     5   Under 18

[347 rows x 3 columns]

In [ ]:
pivot = pd.pivot_table(age_data, values = 'Number of Collisions', index = ['county_location'], 
               aggfunc = np.sum, columns = ['Age_groups'], fill_value = 0)

cols = pivot.columns.tolist()
cols = cols[-1:] + cols[0:-1]
pivot = pivot[cols]
pivot

Age_groups       Under 18  18-24  25-29  30-34  35-39    60+
county_location
alameda                89   2851   2337   1581   1068   3588
alpine                  1     11     12      2      2     27
amador                  4     87     57     49     32    228
butte                  33    726    388    252    171    755
calaveras               4    124     77     56     39    288
colusa                  3     83     34     36     23     92
contra costa           99   1782   1375    866    702   2347
del norte               8     55     39     33     31     96
el dorado              27    496    321    244    168    845
fresno                 85   2131   1329    866    617   1742
glenn                   2     90     51     21     33     95
humboldt               26    501    381    308    205    585
imperial                8    247    145     98     82    278
inyo                    4     42     33     26     12     95
kern                   88   2533   1694   1205    793   2352
kings                  12    359    209    167    115    282
lake                   10    210    150     98     77    343
lassen                  1     39     34     24     21     92
los angeles           490  20579  15780  10573   7377  21384
madera                 31    584    365    238    177    544
marin                  40    469    310    249    174    788
mariposa                1     43     24     21     20     73
mendocino              22    294    204    183    116    455
merced                 31    806    562    399    249    716
modoc                   2     22     10     11      9     38
mono                    1     29     24     22     11     69
monterey               44   1314    889    533    299   1131
napa                   25    437    306    216    171    547
nevada                  7    208    223    145    128    421
orange                263   7717   5061   3163   2291   7643
placer                 34    633    464    287    218    859
plumas                  3     65     44     46     23    117
riverside             144   5226   3358   2272   1529   4856
sacramento             97   3154   2371   1706   1173   3750
san benito             10    186    103     76     53    181
san bernardino        160   5732   3846   2424   1795   5211
san diego             223   7037   4665   2740   1899   6434
san francisco           8    715    706    470    325    960
san joaquin            70   1726   1217    851    626   1883
san luis obispo        42    987    582    347    278   1048
san mateo              60   1369   1051    704    514   1660
santa barbara          67   1549    929    593    354   1249
santa clara           106   2948   2025   1217    877   2618
santa cruz             48    972    595    390    290   1038
shasta                 30    420    265    228    171    674
sierra                  0      7     11      7      4     37
siskiyou                5     92     69     56     42    189
solano                 31    917    638    459    358   1105
sonoma                 60   1472    946    721    480   1841
stanislaus             43   1463    972    638    464   1476
sutter                 12    240    154    105     80    247
tehama                  3    153    117     94     51    263
trinity                 2     49     40     38     23    107
tulare                 79   1383    781    496    371   1009
tuolumne               11    178     97     79     72    350
ventura               101   1959   1189    800    592   1943
yolo                   32    470    264    202    141    445
yuba                    5    152    123     96     60    209